# postgres
db_username=postgres
db_password=
db_name=dekaliber
db_host=localhost
db_port=5432

# dragonfly (redis compatible)
redis_host=localhost
redis_port=6379

# backend ports (override kalau bentrok dengan proses lain)
nestjs_port=3000
springkt_port=8080
